.talant-section {
    padding: 94px 0;
}

.talant-list {
    display: flex;
    

    @media (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
    }

    &__subtitle {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__item:not(:last-child) {
        @media (min-width: 1200px) {
        margin-right: 30px;
        }
    }

    &__item {
        width: 100%;
        max-width: 270px;


    @media (max-width: 768px) {
        margin-top: 30px;
        margin-right: 15px;
        margin-left: 15px;
        justify-content: center;
    }        
    }

    &__svg {
        height: 120px;
        width: 100%;
        background-color: var(--bg-color-secondary);
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:nth-child(1) {
            background-image: url(../images/antenna\ 1.svg);
        }
    
        &:nth-child(2) {
            background-image: url(../images/clock\ 1.svg);
        }
    
        &:nth-child(3) {
            background-image: url(../images/diagram\ 1.svg);
        }
    
        &:nth-child(4) {
            background-image: url(../images/astronaut\ 1.svg);
        }
    }
}